# Fish package manager
[".config/fish/functions/fundle.fish"]
type = "file"
url = "https://github.com/danhper/fundle/raw/master/functions/fundle.fish"
refreshPeriod = "672h"

# Terminal themes
[".config/kitty/kitty-themes"]
type = "git-repo"
url = "https://github.com/dexpota/kitty-themes.git"
[".config/kitty/kitty-themes".clone]
args = ["--depth", "1"]

# Shell Completions
[".config/fish/completions/ghcup.fish"]
type = "file"
url = "https://gitlab.haskell.org/haskell/ghcup-hs/raw/master/scripts/shell-completions/fish"
refreshPeriod = "672h"

{{- $fontDir := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $fontDir = "Library/Fonts" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $fontDir = ".local/share/fonts" }}
{{- end }}

# Fonts
# JetBrains Mono
["{{ $fontDir }}/JetBrainsMono-Regular.ttf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/ttf/JetBrainsMono-Regular.ttf"
refreshPeriod = "672h"
["{{ $fontDir }}/JetBrainsMono-Italic.ttf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/ttf/JetBrainsMono-Italic.ttf"
refreshPeriod = "672h"
["{{ $fontDir }}/JetBrainsMono-Bold.ttf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/ttf/JetBrainsMono-Bold.ttf"
refreshPeriod = "672h"
["{{ $fontDir }}/JetBrainsMono-BoldItalic.ttf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/ttf/JetBrainsMono-BoldItalic.ttf"
refreshPeriod = "672h"

# Nerd font symbols
["{{ $fontDir }}/SymbolsNerdFont.ttf"]
type = "file"
url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/NerdFontsSymbolsOnly/SymbolsNerdFont-Regular.ttf"
refreshPeriod = "168h"
["{{ $fontDir }}/SymbolsNerdFontMono.ttf"]
type = "file"
url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/NerdFontsSymbolsOnly/SymbolsNerdFontMono-Regular.ttf"
refreshPeriod = "168h"
