{{- $name := promptString "name" -}}
{{- $email := promptString "email" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
