# Fish package manager
[".config/fish/functions/fundle.fish"]
type = "file"
url = "https://github.com/danhper/fundle/raw/master/functions/fundle.fish"
refreshPeriod = "672h"

# Shell Completions
[".config/fish/completions/ghcup.fish"]
type = "file"
url = "https://gitlab.haskell.org/haskell/ghcup-hs/raw/master/scripts/shell-completions/fish"
refreshPeriod = "672h"

{{- $fontDir := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $fontDir = "Library/Fonts" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $fontDir = ".local/share/fonts" }}
{{- end }}

# Fonts
# JetBrains Mono
["{{ $fontDir }}/JetBrainsMono-Regular.otf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/otf/JetBrainsMono-Regular.otf"
refreshPeriod = "672h"
["{{ $fontDir }}/JetBrainsMono-Italic.otf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/otf/JetBrainsMono-Italic.otf"
refreshPeriod = "672h"
["{{ $fontDir }}/JetBrainsMono-Medium.otf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/otf/JetBrainsMono-Medium.otf"
refreshPeriod = "672h"
["{{ $fontDir }}/JetBrainsMono-MediumItalic.otf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/otf/JetBrainsMono-MediumItalic.otf"
refreshPeriod = "672h"
["{{ $fontDir }}/JetBrainsMono-Bold.otf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/otf/JetBrainsMono-Bold.otf"
refreshPeriod = "672h"
["{{ $fontDir }}/JetBrainsMono-BoldItalic.otf"]
type = "file"
url = "https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/otf/JetBrainsMono-BoldItalic.otf"
refreshPeriod = "672h"

# Nerd font symbols
["{{ $fontDir }}/SymbolsNerdFont.ttf"]
type = "file"
url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/NerdFontsSymbolsOnly/SymbolsNerdFont-Regular.ttf"
refreshPeriod = "168h"
["{{ $fontDir }}/SymbolsNerdFontMono.ttf"]
type = "file"
url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/NerdFontsSymbolsOnly/SymbolsNerdFontMono-Regular.ttf"
refreshPeriod = "168h"
