snippet case
        case ${1}: {
            ${0}
        } break;

snippet dbg
        fprintf(stderr, "${1} = ${2:%d} ", ${1:i});

snippet fori
        for (int ${2:i} = 0; ${2} < ${1}; ++${2}) {
            ${0}
        }

snippet fore
        for (${2:auto &it} : ${1}) {
            ${0}
        }

snippet ld
        [${1}](${2}){ return ${3}; }

snippet pr
        printf("${1}\n"${2});
